@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Главное приветственное слово</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Не главное приветственное слово</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger m-2" href="#about">Оставить отзыв</a>
                <a class="btn btn-primary btn-xl js-scroll-trigger m-2" href="#about">Оставить претензию</a>
            </div>
        </div>
    </div>
</header>

<!-- Services Section -->
<section class="page-section" id="customers">
    <div class="container">
        <h2 class="text-center mt-0">Список участников</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-car text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Автосервисы</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-water text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Автомойки</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-tachometer-alt text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Тюнинг-ателье</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-cog text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Магазины запчастей</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Шабаш-гараж <span class="badge badge-primary badge-pill">14</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17962.035098693887!2d37.600699669590796!3d55.75408301618903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1558380193856!5m2!1ssk!2ssk" width="1900" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="page-section" id="contacts">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Наши контакты</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">Какая информация для того зачем контактировать</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+7 (906) 392-7726</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in anchor text AND the link below! -->
                <a class="d-block" href="mailto:contact@yourwebsite.com">contact@populivox.ru</a>
            </div>
        </div>
    </div>
</section>

<!-- Modal windows -->
<div class="modal fade" id="registerModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <partial name="Register" />
</div>

<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <partial name="Login" />
</div>
